<h1>{{title}}</h1>

<p>{{description}}</p>
{{#if photo}}
    <center>
        <img src="/images/products/{{photo}}" alt="{{title}}">
    </center>
{{/if}}

{{#if isStock}}
    <p>Precio: ${{price}}</p>
{{else}}
    <p>Producto sin stock</p>
{{/if}}

{{#if isStock}}
    <form action="/cart" method="post">
        <input type="hidden" name="productId" value="{{_id}}">
        <input type="number" name="quantity" value="1" min="1" max="{{stock}}">
        <button type="submit">Agregar al carrito</button>
    </form>
{{/if}}

